<template>
  <div id="app">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "app",
  data() {
    return {};
  }
};
</script>

<style>
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
#app {
  text-align: center;
  color: #f7f7f7;
  margin-top: 30px;
}
#logo {
  width: 350px;
}
body {
  background: rgb(50, 54, 67);
  background: linear-gradient(
    168deg,
    rgba(50, 54, 67, 1) 0%,
    rgba(96, 100, 112, 1) 100%
  );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
</style>
