<template>
  <div class="index">
    <img alt="logo" id="logo" src="../assets/logo.png">
    <h1>Search user</h1>
    <h4>Send <i>!track</i> to <b>Adri</b> in-game to get tracked</h4>
    <UserAutoSuggest/>
    <br>
    <button type="button" class="profile-refresh btn btn-info" @click="toggleNextMode()">
      <i class="fas fa-arrow-right"></i>
      Toggle {{ mode_next }}
    </button>
    <div class="leaderboard">
      <transition name="slide-fade">
        <Leaderboard v-show="mode4" :title="'4k Rankings'" :rows="info.rankings['4']"/>
      </transition>
    </div>
    <div class="leaderboard">
      <transition name="slide-fade">
        <Leaderboard v-show="mode7" :title="'7k Rankings'" :rows="info.rankings['7']"/>
      </transition>
    </div>
  </div>
</template>

<script>
import UserAutoSuggest from './UserAutoSuggest.vue';
import Leaderboard from './Leaderboard.vue';
var request = require("sync-request");

export default {
  name: 'Index',
  components: {
    UserAutoSuggest,
    Leaderboard
  },
  data() {
    return {
      info: {},
      mode4: true,
      mode7: false,
      mode_next: "7k"
    };
  },
  methods: {
    refresh: function() {
      let response = request(
        "GET",
        "https://track.adri-web.dev/api/leaderboards?k=1c81da2efd299dc9ad6de9b5123c268e"
      );
      this.$data.info = JSON.parse(response.getBody());
    },
    toggleNextMode: function() {
      switch (this.$data.mode_next) {
        case "7k":
          this.$data.mode4 = false;
          this.$data.mode7 = true;
          this.$data.mode_next = "4k";
          break;
        case "4k":
          this.$data.mode4 = true;
          this.$data.mode7 = false;
          this.$data.mode_next = "7k";
          break;
      }
    }
  },
  beforeMount() {
    let response = request(
      "GET",
      "https://track.adri-web.dev/api/leaderboards?k=1c81da2efd299dc9ad6de9b5123c268e"
    );
    this.$data.info = JSON.parse(response.getBody());
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.leaderboard {
  margin: auto auto auto auto;
  width: 35%;
}
</style>
