<template>
  <div>
    <div class='title'>{{ title }}</div>
    <vue-good-table
      :columns="columns"
      :sort-options="{
        enabled: false,
        initialSortBy: {field: 'performance', type: 'desc'}}"
      :rows="rows"
      theme="nocturnal"
      styleClass="vgt-table condensed" />
  </div>
</template>

<script>
import { VueGoodTable } from 'vue-good-table';
import 'vue-good-table/dist/vue-good-table.css'

export default {
  components: {
    VueGoodTable,
  },
  props: {
    rows: Array,
    title: String
  },
  name: 'Leaderboard',
  data(){
    return {
      columns: [
        {
          label: 'Rank',
          field: 'pprank',
        },
        {
          label: 'User',
          field: 'username',
        },
        {
          label: 'Performance',
          field: 'performance',
          type: 'decimal',
        },
      ],
    };
  },
}
</script>

<style scoped>
.title {
  background-color: rgba(50, 54, 67, 1);
  font-size: 200%;
  padding: 10px 10px 10px 10px;
}
</style>
