<template>
  <div>
    <div class='title'>{{ title }}</div>
    <vue-good-table
      :columns="columns"
      :sort-options="{
        enabled: true,
        initialSortBy: {field: 'performance', type: 'desc'}}"
      :rows="rows"
      theme="nocturnal"
      styleClass="vgt-table condensed" />
  </div>
</template>

<script>
import { VueGoodTable } from 'vue-good-table';
import 'vue-good-table/dist/vue-good-table.css'

export default {
  components: {
    VueGoodTable,
  },
  props: {
    rows: Array,
    title: String
  },
  name: 'Scores',
  data(){
    return {
      columns: [
        {
          label: 'Grade',
          field: 'grade',
        },
        {
          label: 'Song',
          field: 'title',
        },
        {
          label: 'Score',
          field: 'score',
          type: 'number',
        },
        {
          label: 'Date',
          field: 'date',
          type: 'date',
          dateInputFormat: 'YYYY-MM-DD',
          dateOutputFormat: 'MMM Do YY',
        },
        {
          label: 'Accuracy',
          field: 'accuracy',
          type: 'percentage',
        },
        {
          label: 'Performance',
          field: 'pp',
          type: 'decimal',
        },
      ],
    };
  },
}
</script>

<style scoped>
.title {
  background-color: rgba(50, 54, 67, 1);
  font-size: 200%;
  padding: 10px 10px 10px 10px;
}
</style>
