<template>
  <div class="user-card">
    <img class="avatar" :src="'https://a.ppy.sh/' + info.id">
    <div class="card-userinfo">
      <div class="card-username">
        <img class="user-flag" :src="'https://osu.ppy.sh/images/flags/' + info.country + '.png'">
        <span class="info-username">{{ info.username }}</span>
      </div>
      <hr class="info-spacing">
    </div>
    <div class="card-ranks">
      <div class="card-rankinfo">
        <span class="keymode">4k</span>
      <hr class="info-spacing">
        <div class="info-ranks">
        <div class="card-pp">{{ info.pp4 | numFormat }}pp</div>
          <div class="card-rank_world">#{{ info.rank4 }}</div>
          <div class="card-rank_country">Country: #{{ info.rank_country4 }}</div>
        </div>
      </div>
      <div class="card-rankinfo">
        <span class="keymode">7k</span>
      <hr class="info-spacing">
        <div class="info-ranks">
        <div class="card-pp">{{ info.pp7 | numFormat }}pp</div>
          <div class="card-rank_world">#{{ info.rank7 }}</div>
          <div class="card-rank_country">Country: #{{ info.rank_country7 }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "UserCard",
  props: ["info"]
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.user-card {
  display: flex;
  width: fit-content;
  margin: auto auto auto auto;
  padding: 15px 0px 15px 15px;
  background-color: rgba(50, 54, 67, 1);
  border-radius: 15px;
}
.avatar {
  flex: none;
  width: 120px;
  height: 120px;
  border-radius: 25%;
  overflow: hidden;
}
.card-ranks {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
}
.card-rankinfo {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  border-left: 1px solid white;
}
.card-username {
  text-align: left;
  flex-direction: row;
  margin-top: 15px;
}
.info-username {
  font-size: 200%;
  margin-left: 45px;
}
.info-spacing {
  height: 4px;
  margin: 5px 0px 0px 0px;
}
.user-flag {
  width: 30px;
  height: 20px;
  margin-top: 10px;
  position: absolute;
}
.card-rank_world {
  font-size: 150%;
}
.keymode {
  font-size: 200%;
}
.card-pp {
  font-size: 200%;
}
</style>
