<template>
    <div class="UserAutoSuggest">
    
		<div class="container">
            <vue-autosuggest
            ref="autocomplete"
            :suggestions="suggestions"
            :inputProps="inputProps"
            :sectionConfigs="sectionConfigs"
            :renderSuggestion="renderSuggestion"
            :getSuggestionValue="getSuggestionValue"
                />
        </div>
    </div>
</template>

<script>
import { VueAutosuggest } from "vue-autosuggest";
import axios from "axios";
 
export default {
    name: 'UserAutoSuggest',
    components: {
        VueAutosuggest
    },
    data() {
        return {
            results: [],
            timeout: null,
            selected: null,
            debounceMilliseconds: 50,
            usersUrl: "https://track.adri-web.dev/api/users?k=1c81da2efd299dc9ad6de9b5123c268e",
            inputProps: {
                id: "autosuggest__input",
                onInputChange: this.fetchResults,
                placeholder: "Search anyone",
                class: "form-control",
                name: "hello"
            },
            suggestions: [],
            sectionConfigs: {
                users: {
                    limit: 6,
                    label: "Results in Users",
                    onSelected: selected => {
                        this.selected = selected.item;
                        this.$router.push("/user/"+this.selected.id);
                    }
                }
            }
        };
    },
    methods: {
        fetchResults(val) {
            clearTimeout(this.timeout);
            this.timeout = setTimeout(() => {
                const usersPromise = axios.get(this.usersUrl);

                Promise.all([usersPromise]).then(values => {
                    this.suggestions = [];
                    this.selected = null;

                    const users = this.filterResults(values[0].data, val, "username");

                    users.length &&
                        this.suggestions.push({ name: "users", data: users });
                });
            }, this.debounceMilliseconds);
        },
        filterResults(data, text, field) {
            return data
                .filter(item => {
                    if (item[field].toLowerCase().indexOf(text.toLowerCase()) > -1) {
                        return item[field];
                    }
                })
                .sort();
        },
        renderSuggestion(suggestion) {
            return suggestion.item.username;
        },
        getSuggestionValue(suggestion) {
            let { item } = suggestion;
            return item.username;
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.avatar {
    height: 25px;
    width: 25px;
    border-radius: 20px;
    margin-right: 10px;
}

.container {
    text-align: left;
    color: black;
}

#autosuggest__input {
    outline: none;
    position: relative;
    display: block;
    border: 1px solid #616161;
    padding: 10px;
    width: 40%;
    margin: auto auto auto auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#autosuggest__input.autosuggest__input-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.autosuggest__results-container {
    position: relative;
    width: 40%;
    margin: auto auto auto auto;
}

.autosuggest__results {
    font-weight: 300;
    margin: 0;
    position: absolute;
    z-index: 10000001;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: white;
    padding: 0px;
    max-height: 400px;
    overflow-y: scroll;
}

.autosuggest__results ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.autosuggest__results .autosuggest__results_item {
    cursor: pointer;
    padding: 15px;
}

#autosuggest ul:nth-child(1)>.autosuggest__results_title {
    border-top: none;
}

.autosuggest__results .autosuggest__results_title {
    color: gray;
    font-size: 11px;
    margin-left: 0;
    padding: 15px 13px 5px;
    border-top: 1px solid lightgray;
}

.autosuggest__results .autosuggest__results_item:active,
.autosuggest__results .autosuggest__results_item:hover,
.autosuggest__results .autosuggest__results_item:focus,
.autosuggest__results .autosuggest__results_item.autosuggest__results_item-highlighted {
    background-color: #f6f6f6;
}
</style>
