<template>
  <div class="user">
    <div class="search">
      <h3>Check another profile</h3>
      <UserAutoSuggest/>
    </div>
    <UserCard :info="info"/>
    <button type="button" class="profile-refresh btn btn-success" @click="updateInfo()">
      <i class="fas fa-sync"></i> Update Recent
    </button>
    <button type="button" class="profile-refresh btn btn-warning" @click="updateInfoBest()">
      <i class="fas fa-tools"></i> Update Best
    </button>
    <button type="button" class="profile-refresh btn btn-info" @click="toggleNextMode()">
      <i class="fas fa-arrow-right"></i>
      Toggle {{ mode_next }}
    </button>
    <div class="scores">
      <transition name="slide-fade">
        <Scores v-show="mode4" :title="'4k Personal Bests'" :rows="info.personal_bests['4']"/>
      </transition>
    </div>
    <div class="scores">
      <transition name="slide-fade">
        <Scores v-show="mode7" :title="'7k Personal Bests'" :rows="info.personal_bests['7']"/>
      </transition>
    </div>
  </div>
</template>

<script>
import Scores from "./Scores.vue";
import UserCard from "./UserCard.vue";
import UserAutoSuggest from "./UserAutoSuggest.vue";
var request = require("sync-request");

export default {
  name: "User",
  components: {
    Scores,
    UserCard,
    UserAutoSuggest
  },
  data() {
    return {
      info: {},
      mode4: true,
      mode7: false,
      mode_next: "7k"
    };
  },
  methods: {
    updateInfo: function() {
      request(
        "GET",
        "https://track.adri-web.dev/api/update?k=1c81da2efd299dc9ad6de9b5123c268e&u=" +
          this.$route.params["id"]
      ).then(this.refreshScores());
    },
    updateInfoBest: function() {
      request(
        "GET",
        "https://track.adri-web.dev/api/new?k=1c81da2efd299dc9ad6de9b5123c268e&u=" +
          this.$route.params["id"]
      ).then(this.refreshScores());
    },
    refreshScores: function() {
      let response = request(
        "GET",
        "https://track.adri-web.dev/api/user?k=1c81da2efd299dc9ad6de9b5123c268e&u=" +
          this.$route.params["id"]
      );
      this.$data.info = JSON.parse(response.getBody());
    },
    toggleNextMode: function() {
      switch (this.$data.mode_next) {
        case "7k":
          this.$data.mode4 = false;
          this.$data.mode7 = true;
          this.$data.mode_next = "4k";
          break;
        case "4k":
          this.$data.mode4 = true;
          this.$data.mode7 = false;
          this.$data.mode_next = "7k";
          break;
      }
    }
  },
  beforeMount() {
    let response = request(
      "GET",
      "https://track.adri-web.dev/api/user?k=1c81da2efd299dc9ad6de9b5123c268e&u=" +
        this.$route.params["id"]
    );
    this.$data.info = JSON.parse(response.getBody());
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.profile-refresh {
  margin: 20px 10px 20px 0px;
}

.search {
  margin-bottom: 15px;
}

.scores {
  margin: auto auto auto auto;
  width: 65%;
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition-delay: 0.3s;
  transition: all 0.7s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>
